DATABRICKS_HOST=
DATABRICKS_PROFILE=DEFAULT

APP_ENV=dev
APP_CATALOG=mapping_demo_dev

APP_CRM_LANDING_PATH=/Volumes/mapping_demo_dev/bronze/crm_landing_ext/
APP_ERP_LANDING_PATH=/Volumes/mapping_demo_dev/bronze/erp_landing_ext/
APP_REFERENCE_LANDING_PATH=/Volumes/mapping_demo_dev/bronze/reference_landing_ext/
APP_COMPLIANCE_LANDING_PATH=/Volumes/mapping_demo_dev/bronze/compliance_landing_ext/

APP_CHECKPOINT_PATH=/Volumes/mapping_demo_dev/bronze/checkpoints_ext/
APP_ARCHIVE_PATH=/Volumes/mapping_demo_dev/bronze/archive_ext/
APP_REJECTED_PATH=/Volumes/mapping_demo_dev/bronze/rejected_ext/